# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_BAIDU_APIKEY=
NEXT_PUBLIC_BAIDU_SECRETKEY=
